img/1_editables
img/2_character_pepe/Pepe.png
img/3_enemies_chicken/chicken_normal/Gallina muestra gif.gif
img/3_enemies_chicken/chicken_normal/Versión Gallinitas.png
img/3_enemies_chicken/chicken_small/Muestra gif.gif
img/3_enemies_chicken/chicken_small/Versión pollitos.png
img/4_enemie_boss_chicken/all_sequences.gif
img/4_enemie_boss_chicken/Señora_gallina.png
img/4_enemie_boss_chicken/1_walk/Muestra.gif
img/4_enemie_boss_chicken/2_alert/Muestra_alerta.gif
img/4_enemie_boss_chicken/2_alert/Muestra_caminata_alerta.gif
img/4_enemie_boss_chicken/3_attack/Muestra_ataque.gif
img/4_enemie_boss_chicken/4_hurt/Muestra_herida.gif
img/4_enemie_boss_chicken/5_dead/Muestra_herida_y_muerte.gif
img/4_enemie_boss_chicken/5_dead/Muestra_muerte.gif
img/5_background/layers/1_first_layer/full.png
img/5_background/layers/2_second_layer/full.png
img/5_background/layers/3_third_layer/full.png
img/5_background/layers/4_clouds/full.png
img/5_background/complete_background.png
img/5_background/first_half_background.png
img/5_background/second_half_background.png
img/6_salsa_bottle/bottle_rotation/rotation_sequences.gif
img/6_salsa_bottle/all_sequences.gif
img/6_salsa_bottle/salsa_bottle.png
img/7_statusbars/3_icons
img/7_statusbars/4_bar_elements
img/7_statusbars/all_statusbars.png
img/7_statusbars/example_1.png
img/7_statusbars/example_2.png
img/7_statusbars/example_3.png
img/7_statusbars/example_4.png
img/7_statusbars/2_statusbar_endboss/blue
img/7_statusbars/2_statusbar_endboss/orange
img/7_statusbars/2_statusbar_endboss/blue.png
img/7_statusbars/2_statusbar_endboss/green.png
img/7_statusbars/2_statusbar_endboss/orange.png
img/7_statusbars/1_statusbar/1_statusbar_coin/green
img/7_statusbars/1_statusbar/1_statusbar_coin/green
img/7_statusbars/1_statusbar/1_statusbar_coin/orange
img/7_statusbars/1_statusbar/2_statusbar_health/blue
img/7_statusbars/1_statusbar/2_statusbar_health/orange
img/7_statusbars/1_statusbar/3_statusbar_bottle/blue
img/7_statusbars/1_statusbar/3_statusbar_bottle/green
img/8_coin/coin_2.png
img/9_intro_outro_screens/start/startscreen_2.png
img/9_intro_outro_screens/game_over
img/You won, you lost/Game Over.png
img/You won, you lost/You lost b.png
img/You won, you lost/You win B.png
img/You won, you lost/You won A.png
img/You won, you lost/You Won B.png

Alternative_Grafiken_Sharkie
