* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 24px;
    line-height: 1.6;
    background-color: #111;
    color: #eee;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

.impressum-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
h2 {
    color: orange;
}

a {
    color: orange;
    text-decoration: none;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: auto;
    border-radius: 50%;
    background-color: orange;
}

.close-button img {
    width: 30px;
    height: 30px;
}