* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 24px;
    line-height: 1.6;
    background-color: #111;
    color: #eee;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

h1,
h2 {
    color: orange;
}

a {
    color: orange;
    text-decoration: none;
}